*{
    margin: 0%;
    padding: 0%;
}
.user{
    color: white;
    font-size: 15px;
    margin-right: 10px;
    text-decoration: underline;
    text-transform: capitalize;
    
}

.dopdn{
    margin-bottom: 0px;
}
.dopdn >select{
    height: 40px;
    width: 420px;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 0%;
}

.th{
    display: flex;
    justify-content: space-around;
}
.oxyContain{
    display: flex;
    width: 100%;
}
.listcontain{
        width: 100%;
}
.dropvalue{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
   
}
.list{
    width: 57%;
    margin-right: 1%;
    border-right: 1px solid teal;
        border-bottom-right-radius: 13px;
        border-top-right-radius: 13px;

    padding-right: 20px;
    padding-top: 20px;
}
.Listener{
    display: flex;
}
.charts{
    width: 45%;
    border-left: 1px solid teal;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}